body {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	max-width: 100%;
}

.flash {
	display: flex;
	/* height: 40px; */
	border-radius: 7px;
	align-items: center;
	margin: 10px 0;
	padding: 0 10px;
	color: white;
}

.flash-success {
	background-color: rgba(121, 190, 37, 0.9);
}

.flash-error {
	background-color: rgba(255, 0, 0, 0.9);
}

.orange {
	background-color: orange;
}

.green {
	background-color: green;
}

.cyan {
	background-color: cyan;
}

.red {
	background-color: red;
}

.yellow {
	background-color: yellow;
}

.blue {
	background-color: lightblue;
}


header {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: calc(100vw - 15px);
	max-width: 100%;
	padding: 10px;
	box-sizing: border-box;
}

.posts {
	width: 100vw;
	box-sizing: border-box;
}

.post {
	color: white;
	margin: 5px 0;
	padding: 10px 15px;
}

.content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.text {
	display: flex;
	flex-direction: column;
}

.rating {
	display: flex;
	flex-direction: column;
	font-size: 1.5em;
}